html{
    font-size:  67.4%;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:rgb(0, 0, 0);
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
}
.cuerpo{
    height: 500vh;

    
    background-image:  linear-gradient(
        to right bottom,
        rgba(20, 76, 230, 0.8),
        rgba(46, 182, 216, 0.8)),
        url(/image/programmer-wallpaper-preview.jpg);
    }
    .foto{
        border-right: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        padding-right: 5px;
        padding-bottom: 5px;
        margin: 10px 0;
        height: auto;
        float: left;
        animation-name: moveInLeft;
        animation-duration: 5s
    }

    @keyframes moveInRight {
        0%{
        opacity: 0;
        transform: translateX(10rem);
        }
        80%{
            transform: translateX(-1rem);
        }
        100%{
        opacity: 1;
        transform: translate(0);
        }
        }

        @keyframes moveInLeft {
            0%{
            opacity: 0;
            transform: translateX(-10rem);
            }
            80%{
                
            }
            100%{
            opacity: 1;
            transform: translate(0);
            }
            }
            
    .titulo{
        animation-name: moveInRight;
animation-duration: 5s

        }
